<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/Gutierrez/ios-class/GA-MOB-IOS8/homework6/code_assignment6/Lesson07.xcodeproj</string>
</dict>
</plist>
